.main_mid{
    background-color: rgb(86, 86, 86);
    grid-column: 2;
    width: 1000px;
    border: solid 1px black;
}
.menu{

    border: solid 2px black;
}
.official_tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tab{
    border: solid 1px rgb(43, 43, 43);

}
.mains{
    display: grid;
    background-color: rgb(86, 86, 86);
    grid-template-columns: 1fr 2fr 1fr;

}
.feed_list{
    border: solid 2px rgb(0, 0, 0);
    grid-column: 3;
}
.feed_list_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
