.feed_main{
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.feed_box{
    display: flex;
    border: solid 1px black;
    flex-direction: column;
    margin-right: 30px;
    width: 500px;
    align-self: flex-start;
}
.feed_title{
    background-color: rgb(95, 97, 122);
    padding:5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.feed_body > div{
    margin: 15px;
}
.feed_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feed_button_box{
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    bottom: 29px;
}
.feed_list_button_box{
    background-color: rgb(95, 97, 122);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.feed_list_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feed_list_display > div{
    padding:  2px 5px;

}
.feed_desc{
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.feed_desc:hover{
 padding: 10px;
 transition: 1s;
}
.feed_sub_menu{
    position: fixed;
    left:70%;
    top:80px;
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: rgb(206, 213, 214);
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    max-height: 80%;
    overflow-y: scroll;
}
