.feed_main{
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    /* border: 1px solid black; */
}
.feed_box{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.266);
    border-radius: 3px;

    min-width: 30vw;
}
.feed_title{
    /* background-color: #8aac1a; */
    border-bottom: 1px solid #8aac1a;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #8aac1a;
    font-size: 30px;
}
.feed_button_box{
    padding: 10px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    font-size: 23px;
}
.feed_sub_menu{
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-height: 60vh;
    min-width: 15vw;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.266);
}
.feed_list_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feed_list_display > div{
    padding:  2px 5px;

}
.feed_desc{
    transition: 1s;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    font-size: 12px;
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; */
}
.feed_desc:hover{
 padding: 10px;
 transition: 1s;
 color: #8aac1a;
}

.feed_list_title{
    width: 100%;
    border-bottom: 1px solid #8aac1a;
    color: #8aac1a;
}
.feed_body{
    padding: 10px;
}







/* .feed_main{
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;

}
.feed_box{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.266);
}
.feed_title{
    background-color: #8aac1a;
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    color: white;
}
.feed_body > div{
    margin: 15px;
}
.feed_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feed_button_box{
    position: relative;
    display: inline-flex;
    height: fit-content;
    justify-content: space-between;
}
.feed_list_button_box{
    background-color: #8aac1a;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.feed_list_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.feed_list_display > div{
    padding:  2px 5px;

}
.feed_desc{
    transition: 1s;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.feed_desc:hover{
 padding: 10px;
 transition: 1s;
 color: #8aac1a;
}
.feed_sub_menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 25vw;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    border-radius: 10px;
    margin: 15px;
    max-height: 60%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.266);
}
.feed_list_title{
    background-color: #8aac1a;
    color: white;
}
.empty_div{
    width:60vw;
} */
