.transaction_main{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;

}
.donation_sub_menu{
    position: fixed;
    left:70%;
    top: 80px;
    display: flex;
    max-width: 30%;
    align-self: flex-start;
}
.donation_list_categories{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: rgb(206, 213, 214);
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    max-height: 80%;
    overflow-y: scroll;
}
.donation_list_categories > .clickable{
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
}
.donation_list_categories > .clickable:hover{
    transition: 1s;
    font-size: 20px;
}
.transaction_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.tran_half{
    display: flex;
    flex-direction: column;
}
.title_bar{
    background-color: rgb(95, 97, 122);
    padding: 5px;
}
.a{
    align-items: start;
}
.b{
    align-items: end;
}
.all_div{
    font-weight: bold;
}
.pledge_div{
    font-weight: bold;
}
.fulfilled_div{
    font-weight: bold;
}
