.posts_list{
    display: flexbox;
    align-items: center;

}
.my_posts_list_title{
    background-color: rgb(95, 97, 122);
}
.post_sub_menu{
    background-color: rgb(206, 213, 214);
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    margin-left: 5px;
}
.post_tab{
    background-color: rgb(206, 213, 214);
    border-bottom: solid 1px black;
    padding: 2px;
}
.post_tab:hover{
    transition: 1s;
    margin-right: 5px;
}
.my_posts_display{
    margin-right: 5px;
}
.my_posts_main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.post_placeholder{
    margin: 5px;
    padding-right: 10px;
    width: 300px;
}
