
.reply_form_main{
    padding: 5px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.reply_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
